.Popup{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    /* background-color:rgba(0,0,0,0.2) ; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Popup-inner{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
   
    width: auto;
    max-width: 640px;
    /* background-color:#e87e7e ; */
    background-color:rgb(206, 96, 96);
    box-shadow: 10px 5px 5px rgb(139, 136, 136);
    border-radius: 10px;
 

}

.Popup-inner .closebtn{
    position:absolute;
    margin-top:220px;
     margin-left:280px;
     background-color: #004b23;
     color: white;
     height:27px;
    
 }

.Popup-inner .closebtn:hover{
   
   
    
    background-color:#c7f9cc;  
    color:black;
    box-shadow: 10px 5px 5px #004b23;
   
   
} 
.cbutton{
    position:absolute;
    right:10px;
    top:20px;
   
    
}

